<mat-toolbar>
  <span class="dialog-title">Update Module</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()"
    tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<div class="container"><br><br><br>
  <form name="form" (submit)="onSubmit()" [formGroup]="moduleService.form">
    <mat-checkbox formControlName="moduleStatus" color="primary"> Enable Module</mat-checkbox><br><br><br><br>
    <div class="button-row">
      <button mat-raised-button color="primary" type="submit">
        <mat-icon>save</mat-icon> Save
      </button>
      <button mat-raised-button mat-dialog-close>
        <mat-icon>close</mat-icon>Cancel
      </button>
    </div>
  </form>
</div>